
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Playfair+Display:400,700&display=swap');


.index_page {

   background-image: url("background3.jpeg");
   background-size: cover;
   background-attachment: fixed;
   font-family: 'Playfair Display', serif;
}

.resume_page {
   background-image: url("background2.jpeg");
   background-size: cover;
   margin: 1in;
   font-family: 'EB Garamond', serif;
   font-weight: 400;
}

* {box-sizing: border-box;}

.two_words {
  color: red;
  font-weight: bold;
}

h1.page_heading {
   padding-left: 20px;
   text-align: center;
}

.topnav {
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   font-family: 'Playfair Display', serif;
}


a.no_border:link, a:visited {
   color: black;
   padding: 10px 35px;
   text-align: center;
   text-decoration: none;
}
a.no_border:hover {font-size:125%;}

a.right_border:link, a:visited {
   color: black;
   padding: 10px 35px;
   text-align: center;
   text-decoration: none;
   border-right: solid;
   border-width: 1px;
}
a.right_border:hover {font-size:125%;}

a.fav_links:link {color:black;}
a.fav_links:hover {color:black;background-color:slategrey;}

a.hover_increase:hover {font-size:125%;}

.rightnav {
   float: right;
   width: 40%;
   text-align: center;
   display: flex;
   justify-content: space-between;
}


.column {
   float: left;
   width: 50%;
   padding: 2em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
   text-align: center;
}

img{ 
   width: 90%; 
   height: 90%;
   box-shadow: 6px 6px slategrey;
   border: 2px solid black;
}

#contact {
   margin: 0em 2em;
   width: 75%;
   border: 1px solid black;
   margin-left:auto; 
   margin-right:auto;

}

ul {
   list-style-type: circle;

}

#assignments_table {
   width: 50%;
   margin-left:auto; 
   margin-right:auto;
   border: 1px solid black;
   text-align: center;

}

#assignments_table td {
   padding: 8px;
   border: 1px solid black;
   vertical-align: center;

}
#assignments_table th{
   padding: 8px;
   border: 1px solid black;
   background-color: black;
   color: white;
}

#assignments_table tr:nth-child(even){background-color: #f2f2f2;}
#assignments_table tr:hover {background-color: #ddd;}

.quote {
   text-align: center;
   font-family: cursive;
}

h1.resume{
   font-weight: 700;
}

.resume_bold {
  font-weight: 700;
}

ul.resume_list {list-style-type: square;}


