body{
        Background-color: Chocolate;
      }
      p.verse{
        font-size:14pt;
        font-family: Trebuchet MS;
        font-weight: Bold; 
        color:gold;
        margin-left: 2cm; 
        margin-right 2cm;
      }
      p.chorus{
        font-size:14pt;
        font-family: Trebuchet MS;
        font-weight: Bold;
        font-style: italic; 
        color:gold;
        margin-left: 4cm; 
        margin-right 4cm;
      }
      h1.artist{
        font-size: 14pt;
        font-family: Arial;
        font-weight: bold;
        color: Moccasin;
      }
      h1.song{
        font-size: 14pt;
        font-family: Arial;
        font-weight: normal;
        color: khaki;
      }
      h2.album{
        font-size: 12pt;
        font-family: Arial;
        font-weight: normal;
        color: khaki;
      }
      h2.year{
        font-size: 12pt;
        font-family: Arial;
        font-weight: bold;
        color: ivory;
      }